<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/music_festival?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">stevanbr1</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="Entities.AdminUser"/>
        <mapping class="Entities.CommentEvent"/>
        <mapping class="Entities.DetailEvent"/>
        <mapping class="Entities.Event"/>
        <mapping class="Entities.ImageEvent"/>
        <mapping class="Entities.RegisteredUser"/>
        <mapping class="Entities.Ticket"/>
        <mapping class="Entities.User"/>
        <mapping class="Entities.VideoEvent"/>
    </session-factory>
</hibernate-configuration>
